*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    border: 2px solid rgb(0, 0, 0);
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    margin: 1vh 3vw 1vh 3vw;
}

.logo{
    height: 4vh;
    width: 60px;
    background-color: blue;
    display: inline-block;
    vertical-align: bottom;
}
 h1{
    display: inline-block;
 }
 nav{
    font-size: larger;
    align-items:center;
    border: 2px solid black;
    align-self: flex-end;
    flex-grow: 1;

    display: flex;
    justify-content: space-between;
 }
 .texto_nav{
    margin : 0 10px 0 10px;;
 }
 .buscar{
    height:2vh;
    width: 60px;
    background-color: blueviolet;


 }
 .inicio_sesion{
    height: 4vh;
    width: 60px;
    background-color: rgb(255, 0, 64);
    align-self: flex-end;
 }
 main{
    margin: 1vh 3vw 1vh 3vw;
 }

 .portada{    
    height: 30vh;
    width: 80%;
    border: 2px solid black;
    position: relative;
    left: 10%;
    display: flex;
    justify-content: center;
 }
 .portada> img{
   height: 100%;
   width: 50vw;
 }
 .boton{
   font-size: 30px;
   width: 35px;
   height: 35px;
   line-height: 35px;
   border-radius: 50%;
   background-color: rgba(0, 0, 0, .7);
   text-align: center;
   font-weight: bold;
   position: absolute;
   color: #fff;
   box-shadow: 0 0 10px rgba(255, 255, 255, .6);
   -webkit-transition: all .3s ease;
   -o-transition: all .3s ease;
   transition: all .3s ease ;
 }
.boton:hover{
   cursor: pointer;
   transform: scale(1.2,1.2);
}
.atras{
   left: 2%;
   top: 40%
}
.adelante{
   right: 2%;
   top: 40%;
}
